<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/Industry.css">
</head>

<body>
  <br><br><br><br><br><br><br><br>
  <h1 class="guide">Please choose the industries you are intereted in !</h1>  
<section class="swiper-container"> 
  <div class="swiper-wrapper">

    <div class="swiper-slide" style="background-image:url(../static/pic/picture1.jpg)">
      <img src="../static/pic/picture1.jpg" class="entity-img">
      <input type="checkbox" id="p1" class="checkbox">
      <div class="content blur-bg">
        <p class="title" data-swiper-parallax="10%" data-swiper-parallax-scale=".7">Real Estate</p>
      </div>
    </div>

    
    <div class="swiper-slide" style="background-image:url(../static/pic/picture2.jpeg)">
      <img src="../static/pic/picture2.jpeg" class="entity-img" />
      <input type="checkbox" id="p2" class="checkbox">   
      <div class="content blur-bg">
        <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Consumer Discretionary</p>
        <!-- <span class="caption" data-swiper-parallax="-20%">In a world of distractions to find the most focused self.</span> -->
      </div>
    </div>
      
    <div class="swiper-slide" style="background-image:url(../static/pic/picture3.jpg)">
      <img src="../static/pic/picture3.jpg" class="entity-img" />
      <input type="checkbox" id="p3" class="checkbox">
      <div class="content blur-bg">
        <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Industrials</p>
        <!-- <span class="caption" data-swiper-parallax="-20%">When you're sleepy or distracted, you communicate information to the outside world through facial expressions and actions.</span> -->
      </div>
    </div>

    <div class="swiper-slide" style="background-image:url(../static/pic/picture4.jpg)">
      <img src="../static/pic/picture4.jpg" class="entity-img" />
      <input type="checkbox" id="p4" class="checkbox">
      <div class="content blur-bg">
        <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Utilities</p>
        <!-- <span class="caption" data-swiper-parallax="-20%">We'll provide a variety of charts to help you better explore the most appropriate focus patterns.</span> -->
      </div>
    </div>

    <div class="swiper-slide" style="background-image:url(../static/pic/picture5.jpg)">
      <img src="../static/pic/picture5.jpg" class="entity-img" />
      <input type="checkbox" id="p5" class="checkbox">
      <div class="content blur-bg">
        <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Financials</p>
        <!-- <span class="caption" data-swiper-parallax="-20%">Follow us on a mindfulness test adventure!</span> -->
      </div>
    </div>

    <div class="swiper-slide" style="background-image:url(../static/pic/picture6.jpg)">
      <img src="../static/pic/picture6.jpg" class="entity-img" />
      <input type="checkbox" id="p6" class="checkbox">
      <div class="content blur-bg">
        <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Energy</p>
        <!-- <span class="caption" data-swiper-parallax="-20%">Follow us on a mindfulness test adventure!</span> -->
      </div>
    </div>

    <div class="swiper-slide" style="background-image:url(../static/pic/picture7.jpg)">
      <img src="../static/pic/picture7.jpg" class="entity-img" />
      <input type="checkbox" id="p7" class="checkbox">
      <div class="content blur-bg">
        <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Consumer Staples</p>
        <!-- <span class="caption" data-swiper-parallax="-20%">Follow us on a mindfulness test adventure!</span> -->
      </div>
    </div>


    <div class="swiper-slide" style="background-image:url(../static/pic/picture8.jpg)">
      <img src="../static/pic/picture8.jpg" class="entity-img" />
      <input type="checkbox" id="p8" class="checkbox">
      <div class="content blur-bg">
        <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Communication Services</p>
        <!-- <span class="caption" data-swiper-parallax="-20%">Follow us on a mindfulness test adventure!</span> -->
      </div>
    </div>


    <div class="swiper-slide" style="background-image:url(../static/pic/picture9.jpg)">
      <img src="../static/pic/picture9.jpg" class="entity-img" />
      <input type="checkbox" id="p9" class="checkbox">
      <div class="content blur-bg">
        <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Information Technology</p>
        <!-- <span class="caption" data-swiper-parallax="-20%">Follow us on a mindfulness test adventure!</span> -->
      </div>
    </div>
     
    <div class="swiper-slide" style="background-image:url(../static/pic/picture10.jpg)">
      <img src="../static/pic/picture10.jpg" class="entity-img" />
      <input type="checkbox" id="p10" class="checkbox">
      <div class="content blur-bg">
        <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Health Care</p>
        <!-- <span class="caption" data-swiper-parallax="-20%">Follow us on a mindfulness test adventure!</span> -->
      </div>
    </div>
   
    <div class="swiper-slide" style="background-image:url(../static/pic/picture11.jpg)">
      <img src="../static/pic/picture11.jpg" class="entity-img" />
      <input type="checkbox" id="p11" class="checkbox">
      <div class="content blur-bg">
        <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Materials</p>
        <!-- <span class="caption" data-swiper-parallax="-20%">Follow us on a mindfulness test adventure!</span> -->
      </div>
    </div>

    
  </div>
    
  
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev swiper-button-white"></div>
  <div class="swiper-button-next swiper-button-white"></div>
</section>

<button id="uploadButton">Upload</button>
<link rel="stylesheet" href="https://unpkg.com/swiper@4.5.1/dist/css/swiper.min.css">
<script src="https://unpkg.com/swiper@4.5.1/dist/js/swiper.min.js"></script>
 <script>

    // 获取 uploadButton 元素
        const submitButton = document.getElementById('uploadButton');

        // 监听点击事件
        submitButton.addEventListener('click', function() {
            // 在点击事件发生后跳转到后端的 'dimension' 页面
            window.location.href = '/dimension';
        });
    
    // Params
    var sliderSelector = '.swiper-container',
    options = {
      init: false,
      loop: true,
      speed:800,
      slidesPerView: 2, // or 'auto'
      // spaceBetween: 10,
      centeredSlides : true,
      effect: 'coverflow', // 'cube', 'fade', 'coverflow',
      coverflowEffect: {
        rotate: 50, // Slide rotate in degrees
        stretch: 0, // Stretch space between slides (in px)
        depth: 100, // Depth offset in px (slides translate in Z axis)
        modifier: 1, // Effect multipler
        slideShadows : true, // Enables slides shadows
      },
      grabCursor: true,
      parallax: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        1023: {
          slidesPerView: 1,
          spaceBetween: 0
        }
      },
      // Events
      on: {
        imagesReady: function(){
          this.el.classList.remove('loading');
        }
      }
    };
var mySwiper = new Swiper(sliderSelector, options);

// Initialize slider
mySwiper.init();
    
    
    </script>
</body>
</html>